.center {
  margin: 30px auto !important;
  max-width: 520px;
}

.row {
  max-width: 520px;
  margin: auto !important;
  background-color: white;
  border: 10px solid;
  border-radius: 5px;
}

.col-3 {
  min-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

img {
  width: 100%;
}
